    @import "variables";
    @import "header";
    @import "nav";
    @import "container";
    @import "footer";
    
    * { 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        height: 100vh;
        overflow: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 0.2fr 1fr 2fr 0.2fr ;
        grid-template-areas: "header header header""nav nav nav""main main main""caja2 caja caja1""footer footer footer";
        }